@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        font-family: Montserrat, sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;
        position: relative;
    }
}

.formBookAppointmentStyle {
    @apply text-[24px] leading-[32px] tracking-[0.1px] text-center capitalize font-bold text-[#252B42] dark:text-[#fbfbfb]
}

.formTitleFieldStyle {
    @apply text-[14px] leading-[24px] text-[#252B42] font-semibold tracking-[0.2px] capitalize mb-[10px] dark:text-[#fbfbfb]
}

.formInputFieldStyle {
    @apply bg-[#F9F9F9] border border-[#BDBDBD] w-full rounded-[5px] px-[21px] py-[11px] placeholder:text-[14px] placeholder:leading-[28px] placeholder:tracking-[0.2px] placeholder:text-[#737373] placeholder:font-normal
}

.formCheckboxStyle {
    @apply absolute opacity-0 pointer-events-none left-[-1000px]
}

.formLabelCheckboxStyle {
    @apply bg-[#F9F9F9] border border-[#BDBDBD] rounded-[5px] px-[21px] py-[11px] inline-block w-full relative
}

.formIconCheckboxStyle {
    @apply absolute top-[50%] translate-y-[-50%] right-[6px] pointer-events-none transition-all
}

.formWrapOptionDropdownStyle {
    @apply absolute bg-[#F9F9F9] pointer-events-none opacity-0 w-full top-[110%] rounded-md transition-all
}